@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  .ant-table-container {
    /* border: 1px solid #e1e3e1 !important; */
  }

  /* .ant-modal-content {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08) !important;
  } */

  label {
    font-weight: 500 !important;
  }

  .app {
    transition: all 0.3s ease;
  }

}